@import 'bootstrap-cerulean.min.css';
@import 'bootstrap.callouts.css';
@import 'bootstrap.normalise';
@import '_timing-functions.scss';
@import 'angular-ui-tree';

html {
	overflow-y: scroll;
}
html, body { height: 100%; }

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over .my-drop-zone { border: dotted 3px red; } /* Default class applied to drop zones on over */




.Slayer-layer {
	margin: 0.1em 0;
}
.Slayer-layer-thumbnail {
	border: 1px solid #c3c3c3;
	vertical-align: middle;
}

.Slayer-preview {
	box-sizing: content-box;
	position: relative;
	margin-top: 2em;
	margin-bottom: 2em;
	border: solid 1px rgba(black, 0.5);
}
.Slayer-preview--selected {
	.Slayer-preview-layer {
		img {
			opacity: 0.5;
		}
	}
	.Slayer-preview-layer--selected {
		img {
			opacity: 1;
		}
	}
}
.Slayer-preview-layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.Slayer-preview-image {
	position: absolute;
	background-color: rgba(yellowgreen, 0.1);
	border: solid 1px rgba(yellowgreen, 0.6);
}
@keyframes show-off {
	5%, 25%, 45%, 65%, 85% {
		transform: rotateY(-60deg) rotateX(10deg);
	}
	15%, 35%, 55%, 75%, 95% {
		transform: rotateY(60deg) rotateX(10deg);
	}
}
.Slayer-preview--3d {
	background-color: #eee;
	animation: show-off 50s $ease-in-out-sine infinite;
	// transition: transform 5s $ease-in-out-sine;
	// transform: rotateY(-60deg) rotateX(10deg);
	transform-style: preserve-3d;
	.Slayer-preview-layer {
		background-color: rgba(orange, 0.03);
		border: solid 1px rgba(orange, 0.6);
		@for $i from 1 through 100 {
			&:nth-child(#{$i}) {
				transform: translateZ(#{$i*30}px);
			}
		}
	}
	.Slayer-preview-layer--selected {
		background-color: rgba(orange, 0.7);
		border: solid 1px rgba(orange, 0.8);
	}
}
.Slayer-preview-image--selected {
	background-color: rgba(yellowgreen, 0.6);
	border: solid 1px rgba(yellowgreen, 0.8);
}