//2014-03-19
// @import 'vertical-position';
@mixin vertically-centered($element: child) {
	@if($element == parent) {
		& {
			white-space: nowrap;
		}
		&:after {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			// margin-right: -0.25em;
		}
	} @else {
		white-space: normal;
		display: inline-block;
		vertical-align: middle;
	}
}
%vMiddle-container {
	@include vertically-centered(parent);
}
%vMiddle {
	@include vertically-centered(child);
}

//uses tables; WARN: can't use positioned elements inside
%vMiddle--simple-container {
	display: table !important;
}
%vMiddle--simple {
	display: table-cell !important;
	vertical-align: middle;
}

//uses tables; WARN: can't use positioned elements inside
%vBottom-container {
	display: table !important;
}
%vBottom {
	display: table-cell !important;
	vertical-align: bottom;
}

@mixin content-at-bottom {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: end;
	-moz-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}