<div <%= opts.output.attribute&&opts.output.namespace?opts.output.attribute + '="' + opts.output.namespace.replace(/[-_]+$/,'') + '" ':"" %>style="position: relative; width: <%- opts.output.useTrimmedCanvas?trimmed.width:width %>px; height: <%- opts.output.useTrimmedCanvas?trimmed.height:height %>px;"><%
	_.forEach(list, function(layer) { %>
	<img <%= opts.output.attribute?opts.output.attribute + '="' + (opts.output.namespace?opts.output.namespace:'')+layer.name + '" ':"" %>style="position: absolute; top: <%- layer.coordinates.get('y') %>px; left: <%- layer.coordinates.get('x') %>px;" src="<%- (opts.output.namespace?opts.output.namespace.replace(/[-_]+$/,'').replace(/([a-z])([A-Z])/g, '$1-$2').toLowerCase()+'/':'') +layer.file.name %>" alt="" /><%
}); %>
</div>